<p><a class="btn btn-lg btn-default" id="left-menu" href="#left-menu">Menu</a></p>
<div id="sidr">
  <p>MAP MY READS<p><br>
    <%= link_to "Reading History", books_path %></br>
    <%= link_to "Add New Book", new_book_path %></br>
    <%= link_to "Find a Library", locations_path %></br>
    <%= link_to "About", about_index_path %></br></br>
    <%= link_to "Log Out", signout_path %>
  </div>

  <script>
  $(document).ready(function() {
    $('#left-menu').sidr();
  });
  </script>
