<%= render "filter" %>

<div class="main_header">
  <h1>Read With Me?</h1></br>
  <p>A platform for sharing your books and reading spots.</p>
</div>

<div class="page_header">
  <h4> What's Being Read Around the World </h4>

    <% @books.each do |book| %>
    <div class="book" data-city="<%= book.city %>">
        <%= book.title %></br>
    <div class="book_city"><%= book.city %></div>
        <%= book.city %></br></br>
    <% end %>


<%= @tweet %>

<a class="btn btn-lg btn-default twitter popup" href="http://twitter.com/share?text=Come%20read%20with%20me?">Tweet</a>

<script>
$('.popup').click(function(event) {
  var width  = 575,
  height = 400,
  left   = ($(window).width()  - width)  / 2,
  top    = ($(window).height() - height) / 2,
  url    = "https://twitter.com/intent/tweet?text=Come%20read%20with%20me%3F"
  opts   = 'status=1' +
  ',width='  + width  +
  ',height=' + height +
  ',top='    + top    +
  ',left='   + left;

  window.open(url ,'twitter', opts);

  return false;
});
</script>
</div>

<p><%= link_to "Submit Another Book", new_book_path, class: "btn btn-lg btn-default" %></p>
