<%= render "shared/icons" %>

<div class="section_header">
  <p> My name is <%= @current_user.name %>. I love to read.</p>

  <% if @books.empty? %>
    <p> -- </p>
    <p> My reading history is empty. I should go read some books. </p>
    <%= link_to "Add New Book", new_book_path %>
  <% else %>
    <%= render "filter" %>
  <% end %>

  <% @books.each do |book| %>
    <div class="book" data-city="<%= book.city %>">
      <h4><%= book.title %></h4>
      <h6><%= link_to "Delete", book_path(book), method: 'delete' %></h6>
    </div>
  <% end %>
</div>
