<%= render "shared/icons" %>

<div class="section_header">
<p> My name is <%= @current_user.name %>. I love to read.</p>

<%= render "filter" %>
  <% @books.each do |book| %>
  <div class="book" data-city="<%= book.city %>">
    <h3><%= book.title %></h3>
  </div>
<% end %>
