<div class="page_header">
  <p> Where are you? What book are you reading?</p>

  <%= form_for(@book) do |f| %>
    <%= f.label :city %>:
    <%= f.text_field :city %>
    <%= f.label :title %>:
    <%= f.text_field :title %></br></br>
    <%= f.submit "Add to My Reading History" %>
  <% end %>

</div>
