<!DOCTYPE html>
<html>
<head>

  <title>Read With Me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="javascripts/sidr/stylesheets/jquery.sidr.dark.scss">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>

<%= csrf_meta_tags %>
</head>
<body>

  <a id="left-menu" href="#left-menu"><span>Menu</span></a>


  <div id="sidr">
    <a href="/books">Reading History</a></br>
    <a href="/books/new">Add New Book</a>
  </div>


  <%= yield %>

  <div class="log_button">
    <% if current_user %>
    <p><%= link_to "Log Out", signout_path, class: "btn btn-lg btn-default" %></p>
    <% else %>
    <p><a class="btn btn-lg btn-default" href="/auth/twitter" role="button">Log In With Twitter</a></p>
    <% end %>
  </div>


</body>
</html>
