<!DOCTYPE html>
<html>
<head>

  <title>Map My Reads</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="javascripts/sidr/stylesheets/jquery.sidr.dark.scss">
  <%= javascript_include_tag 'application' %>

</body>
</html>

<%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <% if current_user %>
    <%= render "shared/menu" %>
  <% else %>
    <%= render "shared/log_in" %>
  <% end %>


</body>
</html>
