<!DOCTYPE html>
<html>
<head>
  <title>Discuss</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- below pulls in index.html.erb -->
<%= yield %>
<!-- above pulls in index.html.erb -->

<ul>
  <li>About</li>
  <li>
    <div id="user_nav">
      <% if current_user %>
        Welcome, <strong><%= current_user.name %></strong>!
        <%= link_to "Log out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Log in", "/auth/twitter", id: "sign_in" %>
      <% end %>
    </div></li>
</ul>



</body>
</html>
